[submodule "public/contents/project"]
	path = public/contents/project
	url = https://github.com/tlvince/portfolio-projects.git
[submodule "public/contents/assets"]
	path = public/contents/assets
	url = https://github.com/tlvince/portfolio-theme.git
