if page._metadata.filter
  filter = page._metadata.filter
  - tags = [];
  for project in projects.value()
    if project.metadata.tags.indexOf(filter) != -1
      - tags.push(project);
  - projects = tags;
