- var tags = {};

for project in projects
  for tag in project.metadata.tags.split(' ')
    - if (!(tag in tags))
      - tags[tag] = true

mixin tags
  ul#tags.icon-tags
    for tag in _.keys(tags).sort()
      li
        a(href='\##{tag}', id=tag, class='tag', title='Filter #{tag} projects')=tag
    li
      a(href='#all', id='all', class='tag', title='Show all projects') all
